profiles {
    slurm {
        process.executor = 'slurm'
        process.queue = 'long'            // SLURM partition
        process.cpus = 8
        process.memory = '32 GB'
        process.time = '48h'
        process.clusterOptions = '--nodelist=node11 --output=log/cluster/%x_%j.out --error=log/cluster/%x_%j.err'
    }

    conda {
        process.conda = true
        conda.enabled = true
        conda.cacheDir = '/mnt/home3/miska/nm667/conda_cache'
    }
}